{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    <title>
      {% block title %}
        ...
      {% endblock %}
    </title>
    <link href="{% static "todo/css/styles.css" %}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="{% url 'todolist_list' %}">See todo lists</a> - <a href="{% url 'task_list' %}">{% trans "See tasks" %}</a>{% if perms.todo.search_task %} - <a href="{% url 'task_search' %}">Task search</a>{% endif %}
    </header>
    <section>
      {% block content %}
        ...
      {% endblock %}
    </section>
    <footer>{% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }} : <a href="{% url 'logout' %}">Se déconnecter</a>{% else %}<a href="{% url 'login' %}">Se connecter</a>{% endif %}</footer>
  </body>
</html>