/www
*~
\#*

# Python virtual environment
venv

# Vim
*.sw?

# Eclipse (et oui)
.project

# Python
*.pyc
__pycache__

# Jekyll is a jerk, it can't handle private repo, so we must ignore it
.gitmodules
docs/assets/makina

