<html>
  <head>
    <title>
      {% block title %}
        ...
      {% endblock %}
    </title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="{% url 'todolist_list' %}">See todo lists</a> - <a href="{% url 'task_list' %}">See tasks</a> - <a href="{% url 'task_search' %}">Task search</a>
    </header>
    <section>
      {% block content %}
        ...
      {% endblock %}
    </section>
    <footer>Pied de page commun à tout le site</footer>
  </body>
</html>
