@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('./theme_extra/fonts/yanonekaffeesatz-light-webfont.eot');
    src: url('./theme_extra/fonts/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./theme_extra/fonts/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('./theme_extra/fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('./theme_extra/fonts/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    font-size: 24px;
    font-family: 'yanone_kaffeesatzlight', Verdana, sans-serif;
    color: #fff;
    background-color: #2c2c2c; /* Colour outside of slide */
    letter-spacing: 1px;
}

div.presentation, div.slide {
  background-color: #000; /* colour of the slide */
}

div.slide h1{
  color: #bece12;
  font-weight: normal;
  letter-spacing: 0px;
}

div.slide h2, div.slide h3, div.slide h4, div.slide h5, div.slide h6  {
  color: #fff; /* #ef4e70 */
  letter-spacing: 0px;
}

div.presentation, div.slide {
  border-radius: 20px;
}

pre, tt, code, kbd, samp {
  font-size: 80%; /* monospace is bigger than yanone_kaffeesatzlight */
  letter-spacing: 0px;
}

/* A title slide is a single header */
.slide header:only-child h1 {
  font-weight: normal;
}

blockquote {
  text-indent: 0
}

blockquote p { 
  font-style: italic;
}

/* Override pygments */

.highlight {
  border-radius: 5px;
}

/* ----- First slide ----- */

.slides .slide-wrapper:first-child .slide {
  background: url(../logo.png) 283px 375px no-repeat;
}

.slides .slide-wrapper:first-child .slide header:only-child h1 {
  height: 550px;
}

/* ----- Slide with only a quote ----- */

div.slide.quoteslide blockquote {
    display: table-cell;
    width: 800px;
    height: 600px;
    vertical-align: middle;
    text-align: center;
}

div.slide.quoteslide blockquote p {
  font-size: 170%;
  line-height: 170%;
  font-style: italic;
}

div.slide.quoteslide cite {
  float: right;
  font-style: normal;
}